h3{
    padding:.3rem .3rem;
    font-size:.32rem;
}
.header{
    background:#fff;
    margin:0 .3rem;
    height:4.7rem;
          overflow:hidden;
}
.header p{
    padding:.2rem .2rem 0 .2rem;
}
.copy{
    position: absolute;
    background: #fe7501;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    margin-top: .3rem;
    color: #fff;
    top: 4.7rem;
    border-radius: 5px;
    width: 90.6%;
    margin: .3rem;
}
.main {
    position: relative;
    height:8rem;
    background:#fff;
    margin:0 .3rem;
    background:url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.friend{
    text-align:center;
    color:#a48e8e;
    font-size: .24rem;
    margin-bottom: .2rem;
}
.img{
    width: 1.9rem;
    position: absolute;
    top: 4.34rem;
    left: 1.93rem;
}
.img img{
    width:100%;
}
.foot{
    background:#fff;
    height:2.4rem;
    margin:.3rem;
    padding:.2rem;
}
.foot h4{
    color:#fe7501;
}
.foot p{
    padding-top:.2rem;
    line-height:.4rem;
}
.foot em{
    color:#fe7501;
}
#input {position: relative;top: 0;left: 0;opacity: 0;z-index: -10;}